# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*
!/.env.example

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage (so default storage files are created in tmp).
/storage/*
!/storage/.keep

# Ignore db files
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/*.key

# Ignore coverage
/coverage/

# Ignore node_modules
/node_modules/

# Ignore Kamal secrets
/.kamal/secrets
